{% extends 'base.html' %}

{% block content %}

{% load static %}

<br>
<div class="rehomes-properties-area">
    <div class="container">
        <div class="justify-content-between row">
            <div class="col-12 col-lg-12">
                <div class="rehomes-comment-form mb-80 wow fadeInUp" data-wow-delay="200ms">
                    <h4 class="mb-30">Halaman Input Data Prediksi Menggunakan Algoritma EpiRank</h4>
                    
                    <!-- Brief Introductions -->
                    <div class="col-12 col-lg-12 information-area mb-80 wow update">
                        <p style="text-align: justify;">
                            Pemodelan Algoritme EpiRank dilakukan dengan menggunakan prinsip 
                            yang ada pada Markov Chain untuk menangkap dan mengukur efek transitif 
                            yang ada pada suatu jaringan, kemudian Algoritme PageRank juga digunakan 
                            pada pemodelan untuk menangkap efek gerakan dua arah (komuter/bidireksional). 
                            Pada penelitian tersebut, pergerakan manusia dikhususkan menjadi pergerakan 
                            komuter. Pergerakan ini dimodelkan menjadi suatu graf bidireksional.
                            Pada graf ini, edge (sisi) mewakili pergerakan manusia dan node (simpul) nya 
                            mewakili titik spasial suatu kota/kabupaten. Hasil dari penelitian ini merupakan 
                            prediksi status risiko epidemi suatu daerah, kemudian akan dibandingkan dengan 
                            risiko epidemi berdasarkan data aktual.
                        </p>

                        <p style="text-align: justify;">
                            Elemen Markov Chain yang digunakan pada Algoritme EpiRank adalah penggunaan Matriks 
                            transisi. Matriks transisi didefinisikan sebagai probabilitas sistem berada dalam 
                            status setelah berada dalam status j (pada pengamatan apa pun) (Yang. 2020). Pada 
                            penelitian ini, matriks transisi dibuat berdasarkan jumlah pergerakan keluar dari 
                            suatu wilayah yang sudah terjadi sebelumnya.
                        </p>

                        <p>
                            <img src="{% static '/img/core-img/rumus-epirank.png' %}" alt="Rumus Algoritma Epirank" style="width: 600px;" >
                        </p>

                        <p style="text-align: justify;">
                            ER(t+1) dan ER(t) adalah nilai distribusi ER pada iterasi (t+1) dan (t). ER0 adalah status awal, 
                            diset pada 1/n, kemudian d adalah efek dari struktur topologi jaringan pada risiko epidemi dalam 
                            kisaran 0 dan 1, dan (1 − d) mewakili efek penyebaran penyakit yang terkait dengan faktor lingkungan l
                            okal daripada struktur topologi jaringan. Selain itu, exFac adalah efek eksternal tidak dapat ditentukan 
                            yang mempengaruhi risiko epidemi, FWt dan BWt adalah efek dari gerakan maju dan mundur pada iterasi t, 
                            daytime bernilai 0−1 yang merupakan parameter yang mengendalikan perbedaan antara FWt dan BWt. Nilai daytime 
                            yang lebih tinggi menunjukkan lebih banyak pergerakan maju (forward) daripada gerakan mundur (backward) 
                            dan sebaliknya. Matriks OD (origin-destination) mencatat konektivitas dari asal (baris di matriks) ke 
                            tujuan (kolom). W adalah matriks standarisasi untuk matriks OD (origin-destination), dan WT adalah matriks
                            standarisasi yang juga merupakan matriks transisi. 
                        </p>

                        <p style="text-align: justify;">
                            <b>Mengingat Algoritme EpiRank memprediksi penyebaran virus melalui pergerakan komuter, masukan utama untuk algoritme 
                            ini adalah file .csv yang mengandung informasi pergerakan antar kota pada dua waktu, yaitu BERANGKAT dan PULANG.
                            Contoh input untuk algoritma EpiRank adalah sebagai berikut: </b> 
                        </p>

                        <p>
                            <img src="{% static '/img/core-img/contoh input.png' %}" alt="File Berangkat" style="height: 600px;" >
                            <img src="{% static '/img/core-img/contoh_input2.png' %}" alt="File Pulang" style="height: 550px;" >
                        </p>

                        
                    </div>
                    <!-- End of Brief Introductions -->

                    <!-- Form -->
                    <div class="col-12 col-lg-12 information-area mb-80 wow update" style="background-color: lightgray; padding: 50px;">
                        <h4 class="mb-30">Form Input</h4>
                        <table class="col-12 col-lg-12" style="color: black;">
                            <form class="#" method="POST" enctype="multipart/form-data" style="color: black;">
                                {% csrf_token %}
                                {{ form.as_table }}
                        </table>
                        <input type="submit" name="submit" class="btn rehomes-btn mt-15" style="background-color:#cc2900;color:white;" href="">
                    </div>
                    <!-- End of Form -->

                    <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                        <a class="btn rehomes-btn mt-15" style="background-color:#cc2900;color:white;" href="DocsEpiRank">Data yang sudah diinput</a>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-4">
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}